@model CookBookWebSite.Models.Recipe
@{
    ViewBag.Title = "Create Recipe - " + Model.cookbook.title;
}

<h2>Create Recipe</h2>

@using (Html.BeginForm("Create", "CookBook", FormMethod.Post, new { id = "create-form" })) {
    @Html.AntiForgeryToken()
    @Html.HiddenFor(model => model.cookbook_id)
    @Html.HiddenFor(model => model.recipe_id)

    <div class="form-horizontal">
        <hr />
        <div class="form-group">
            @Html.Label("CookBook", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.Label(Model.cookbook.title, new { htmlAttributes = new { @class = "form-control" } })
            </div>
        </div>

        <div class="form-group">
            @Html.Label("Recipe Name", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.title, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.title, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.Label("Description", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.TextArea("descript", new { @class="descript" })
                @Html.ValidationMessageFor(model => model.descript, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.Label("Serving Size", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.serving_size, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.serving_size, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Create" class="btn btn-default" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>
