@model CookBookWebSite.Models.CookBook
@{
    ViewBag.Title = "CookBook - " + Model.title;
    ViewBag.CookBook = Model.cookbook_id;
}

<h2>Index</h2>

<p>@Model.title</p>

@foreach (var r in Model.recipes) {
    <p>@r.recipe_id - @r.title - @r.descript</p>
    foreach (var i in r.ingredients) {
        <p>@i.ingredient_id - @i.portion @i.measurement - @i.item</p>
    }
    <br />
}
