@model CookBookWebSite.Models.CookBook
@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

@foreach (var r in Model.recipes) {
    <p>@r.recipe_id - @r.title - @r.descript</p>
    foreach (var i in r.ingredients) {
        <p>@i.ingredient_id - @i.portion @i.measurement - @i.item</p>
    }
    <br />
}
